<h1 class="profile-heading">User Profile</h1>

<%= form_with(model: @user, url: profile_path, method: :patch, class: "profile-form") do |form| %>
  <div class="form-group">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>

<p class="user-email"><strong>Email:</strong> <%= @user.email %></p>

<%= link_to 'Back', root_path, class: "btn btn-secondary" %>